Options return for path /*

https://github.com/drogonframework/drogon/blob/59cd4366c75c8f15c011f476f4850b97086f5de5/lib/src/HttpServer.cc#L419

curious why this is included and is hardcoded and not configurable? what is the reason for this?

An OPTIONS request with a path of * (i.e. OPTIONS * HTTP/1.1) is a server-wide request. It is used by the client to ask:

"What HTTP methods does this server support, regardless of a specific resource?"

This is defined in [RFC 9110, Section 9.3.7](https://datatracker.ietf.org/doc/html/rfc9110#section-9.3.7).

